.home {
  /* background-image: url();
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%; */
  width: 80vh;
  height: auto;
  padding: 2rem;
  border-radius: 1rem;
  background: #c09f80;
  -webkit-backdrop-filter: blur(10px);
  margin: 15px 40px;

  display: grid;
}

.home-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

/* section {
  margin: 30px auto;
  width: 750px;
  background: #c09f80;
  text-align: center;
  box-shadow: 0 5px 8px 0#c09f80, 0 7px 20px 0#d7cec7#c09f80;
  position: relative;
  border-radius: 10px;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
} */
