* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.error {
  color: whitesmoke;
  background-color: tomato;
}
section {
  margin: 30px auto;
  width: 60%;
  background: #c09f80;
  text-align: center;
  box-shadow: 0 5px 8px 0#c09f80, 0 7px 20px 0#d7cec7#c09f80;
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
}

form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div {
}

form input {
  border-style: none;
  margin-bottom: 33px;
}

/* .page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: center;
  } */

button {
  background-color: gold;
  color: rebeccapurple;
  border: 2px solid rebeccapurple;
  border-radius: 5px;
  margin: 10px 10px;
}

header {
  height: 50px;
  background-color: #76323f;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

a {
  margin: 5px 15px;
  color: #d7cec7;
  text-decoration: none;
}
