@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@400;600;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  --bright: #d7cec7;
  --dark: #565656;
  --medium: #c09f80;
  --accent: #76323f;
}

/* body {
  font-family: Trispace;
} */

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

/* h1 {
  text-align: center;
  flex-grow: 1;
} */

section {
  padding: 2rem;
  border-radius: 1rem;
  background: rgba(86, 86, 86, 0.8);
  background-size: cover;
  background-position: center;
  align-items: center;
  display: grid;
  color: #d7cec7;
  margin: 3vh 5vh;
  height: 81.5vh;
  display: grid;
  grid-column: auto;
  text-align: center;
  overflow-y: scroll;
}

form {
  display: grid;
  flex-direction: column;
  align-items: center;
  margin: 0.5 1rem;
}

fieldset {
  border: 0;
  margin-bottom: 1rem;
}

label {
  display: block;
}

input {
  background-color: var(--bright);
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea {
  background-color: var(--bright);
  border-style: inset;
  border-width: 2px;
  border-radius: 5px;
  width: 50vw;
  height: 15vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

button {
  background: var(--accent);
  color: var(--bright);
  border-radius: 5px;
  margin: 1.5rem 1.5rem;
  padding: 0.5rem 1rem;
}

a {
  margin: 0.5rem 1rem;
  color: var(--bright);
  text-decoration: none;
  text-align: center;
}

.public {
  height: 7.5vh;
  width: 100vw;
  background-color: var(--medium);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logged {
  height: 7.5vh;
  width: 100vw;
  background-color: var(--medium);
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 0.6rem;
}

.footer {
  height: 5vh;
  background-color: var(--medium);
  color: var(--dark);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.portada {
  padding: 0rem;
  background-image: url(/src/pics/movil.jpg);
  background-size: cover;
  background-position: center;
  padding: 1rem;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.body-login {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.login {
  font-size: 1.5rem;
}

.body-register {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.register {
  font-size: 1rem;
}

.newpass {
  width: 78vw;
  height: 40vh;
  margin: 1vh 11vw;
  font-size: 1rem;
  padding: 1rem;
}

.resetpass {
  width: 78vw;
  height: 40vh;
  margin: 2.5vh 11vw;
  font-size: 1rem;
  padding: 1rem;
}

.body-userprofile {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.userprofile {
  font-size: 1rem;
  padding: 1rem;
}

.avatar {
  padding: 1rem;
  border-radius: 2rem;
}

.userprofile a {
  text-decoration: underline;
}

.body-edituser {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.edituser {
  font-size: 1.5rem;
  padding: 1rem;
}

.body-editpass {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.editpass {
  font-size: 1.5rem;
  padding: 1rem;
}

.body-listposts {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.listposts {
  font-size: 0.75rem;
  padding: 1rem;
  overflow-y: scroll;
}

.listposts a {
  text-decoration: underline;
}

.listposts li {
  color: var(--medium);
  padding: 0.5rem;
}

.body-mislinks {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}
.mislinks {
  font-size: 1rem;
  padding: 1rem;
}

.mislinks a {
  text-decoration: underline;
}

.mislinks li {
  color: var(--medium);
  padding: 0.5rem;
}

.body-linkdetails {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.linkdetails {
  font-size: 0.75rem;
  padding: 1rem;
}

.linkdetails a {
  text-decoration: underline;
}

.linkdetails h1,
h3 {
  color: var(--medium);
  padding: 1rem;
}

.body-editlink {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.editlink {
  font-size: 1.5rem;
  padding: 1rem;
}

.body-usercomments {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.usercomments {
  font-size: 1rem;
  padding: 1rem;
}

.usercomments a {
  text-decoration: underline;
}

.usercomments li {
  color: var(--medium);
  padding: 1rem;
}

.body-editcomment {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.editcomment {
  font-size: 1.5rem;
  padding: 1rem;
}

.body-commentdetails {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.commentdetails {
  font-size: 1rem;
  padding: 1rem;
}

.commentdetails a {
  text-decoration: underline;
}

.commentdetails h1,
h3 {
  color: var(--medium);
  padding: 0.5rem;
}

.body-newlink {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.newlink {
  font-size: 1.25rem;
  padding: 1rem;
}

.newlink a {
  text-decoration: underline;
}

.newlink h1,
h3 {
  color: var(--medium);
  padding: 0.5rem;
}

.body-buscador {
  background-image: url(/src/pics/movilbg.jpg);
  background-size: cover;
  background-position: center;
  height: 87.5vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.buscador {
  font-size: 0.75rem;
  padding: 1rem;
}

.buscador a {
  text-decoration: underline;
}

.error {
  color: whitesmoke;
  background-color: tomato;
}

@media (min-width: 600px) {
  input {
    border-radius: 5px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  textarea {
    width: 50vw;
    height: 15vh;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  section {
    padding: 2rem;
    background: rgba(86, 86, 86, 0.7);
    /* background: transparent 0.7; */
    align-items: center;
    display: grid;
    color: #d7cec7;
    height: 81.5vh;
    display: grid;
    grid-column: auto;
    align-items: center;
    text-align: center;
    overflow-y: scroll hidden;
  }

  .public {
    height: 7.5vh;
    width: 100vw;
    background-color: var(--medium);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.25rem;
  }

  .logged {
    height: 7.5vh;
    width: 100vw;
    background-color: var(--medium);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1rem;
    font-weight: bold;
  }

  .footer {
    height: 5vh;
    background-color: var(--medium);
    color: var(--dark);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .portada {
    background-image: url(/src/pics/portada.jpg);
    background-size: cover;
    padding: 1rem;
    margin: 1.5vh 1rem;
    height: 84.5vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: left;
    text-align: left;
  }

  .body-login {
    background-image: url(/src/pics/login.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .login {
    font-size: 1.5rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .body-register {
    background-image: url(/src/pics/register1.jpg);
    background-size: cover;
    padding: 1vh;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .register {
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .newpass {
    width: 54vw;
    height: 37vh;
    margin: 2.5vh 23vw;
    font-size: 1rem;
    padding: 1rem;
  }

  .resetpass {
    width: 54vw;
    height: 37vh;
    margin: 2.5vh 23vw;
    font-size: 1rem;
    padding: 1rem;
  }

  .body-userprofile {
    background-image: url(/src/pics/userprofile.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .userprofile {
    font-size: 1.25rem;
    padding: 1rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .avatar {
    padding: 1rem;
    border-radius: 2rem;
  }

  .userprofile a {
    text-decoration: underline;
  }

  .body-edituser {
    background-image: url(/src/pics/userprofile.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .edituser {
    font-size: 1.25rem;
    padding: 1rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 1rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .body-editpass {
    background-image: url(/src/pics/userprofile.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .editpass {
    padding: 1rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .body-buscador {
    background-image: url(/src/pics/buscador.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .buscador {
    font-size: 1rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .body-listposts {
    background-image: url(/src/pics/listposts.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .listposts {
    font-size: 1rem;
    width: 84vw;
    margin: 3vh 8vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .listposts a {
    text-decoration: underline;
  }

  .listposts li {
    color: var(--medium);
    padding: 0.5rem;
  }

  .body-mislinks {
    background-image: url(/src/pics/mislinks.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .mislinks {
    font-size: 1rem;
    width: 84vw;
    margin: 3vh 8vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .mislinks a {
    text-decoration: underline;
  }

  .mislinks li {
    color: var(--medium);
    padding: 0.5rem;
  }

  .body-linkdetails {
    background-image: url(/src/pics/listcomments.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .linkdetails {
    font-size: 1rem;
    width: 84vw;
    margin: 3vh 8vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .linkdetails a {
    text-decoration: underline;
  }

  .linkdetails h1,
  h3 {
    color: var(--medium);
    padding: 1rem;
  }

  .body-editlink {
    background-image: url(/src/pics/listcomments.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .editlink {
    padding: 1.5rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .body-usercomments {
    background-image: url(/src/pics/comentarios.jpeg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .usercomments {
    font-size: 1rem;
    width: 74vw;
    margin: 3vh 13vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .usercomments a {
    text-decoration: underline;
  }

  .usercomments li {
    color: var(--medium);
    padding: 1rem;
  }

  .body-editcomment {
    background-image: url(/src/pics/comentarios.jpeg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .editcomment {
    padding: 1rem;
    width: 54vw;
    margin: 3vh 23vw;
    height: 77.5vh;
    font-size: 2rem;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .body-commentdetails {
    background-image: url(/src/pics/comentarios.jpeg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .commentdetails {
    font-size: 1rem;
    width: 74vw;
    margin: 3vh 13vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .commentdetails a {
    text-decoration: underline;
  }

  .commentdetails h1,
  h3 {
    color: var(--medium);
    padding: 0.5rem;
  }

  .body-newlink {
    background-image: url(/src/pics/newpost.jpg);
    background-size: cover;
    padding: 1vh 1vw;
    margin: 1vh 1vw;
    height: 85.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
  }

  .newlink {
    font-size: 1rem;
    width: 74vw;
    margin: 3vh 13vw;
    height: 77.5vh;
    background-size: cover;
    background-position: center;
    align-items: center;
    overflow-y: scroll;
  }

  .newlink a {
    text-decoration: underline;
  }

  .newlink h1,
  h3 {
    color: var(--medium);
    padding: 0.5rem;
  }

  .error {
    color: rebeccapurple;
    background-color: gold;
  }
}

.errorMessage {
  color: rebeccapurple;
  background-color: gold;
}
